.swiperBoss{
  margin: 0 auto;
  overflow: hidden;
  background-color: skyblue;
  .swiperBox{
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
}