.swiperBoss{
  margin: 0 auto;
  background-color: skyblue;
  height: 450px;
  overflow: hidden !important;
  .swiperBox{
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}